.msg {
	float: right;
	width:30% auto;
	overflow:auto;
	margin-right: 50px;
	padding: 5px;
	font-size: small;
} 
.hp, .cycle, .gold, .msg, .middleCol, 
.battle, .hiddenCounter {
	display:none;
}
.title {
	text-shadow: 0px 1px 1px #4d4d4d;
    color: #666666;
    font-family:'Papyrus';
    text-align: center;
}
.miniTitle {
	text-shadow: 0px 1px 1px #4d4d4d;
    color: #999999;
    font-family:'Papyrus';
    text-align: center;
}
.column {
	padding:3px;
	float: left;
	width:30%;
	border:1px solid black;
	background-color:#222222;
}
.column:empty {
	border:none;
	padding:0px;
}
.main {
	margin-right: auto;
	margin-left: auto;
	width:90%;
	position:relative;
}
body, html {
	width:100%; 
	height:100%; 
	overflow:hidden;
	background-color: #333333;
}
div, span {
	font-family: "Papyrus";
	color:#999999;
}
span {
	color:#BB0000;
}
.noRed {
	color:#999999;
}
button {
	background-color: black;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius:3px;
    color: #BB0000;
    font-family: 'Papyrus';
    font-size: medium;
}
button:hover {
	cursor: pointer;
}